body {
    background-color: rgb(13, 114, 79);
    color: yellow;
    background-image: linear-gradient(rgba(0, 0, 0, 0.5), rgba(0, 0, 0, 0.5)), url('background.jpg');
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center top;
    background: rgba(0, 0, 0, 0.5),
}

h1 {
    color: white;
    font-family: sans-serif;
    font-size: 40px;
    text-align: center;
}

#marquee-p {
    display: flex;
    align-items: center;
    gap: 25px;
    justify-content: center;
    width: 82%;
}

#attention {
    width: 220px;
    color: rgba(72, 255, 0, 0.986);
    font-weight: bold;
    font-size: 20px;
    text-transform: uppercase;
}

p {
    font-size: 22px;
}

form {
    border: 3px solid wheat;
    padding: 35px;
    width: 450px;
    margin-left: 100px;
    color: white;
    background-color: rgba(0, 139, 139, 0.5);
    border-radius: 10px;
    box-shadow: 4px 4px 15px rgba(0, 0, 0, 0.3);
    transition: all 2s ease;
    transform: translateX(-30px);
}

form:hover {
    background-color: rgb(1, 38, 38);
    box-shadow: 8px 8px 35px rgba(187, 16, 16, 0.5);
    transform: translateX(0);

}

form:hover #firstName,
form:hover #lastName,
form:hover #country,
form:hover #city,
form:hover #email,
form:hover #comments {
    color: brown;

}


#submitbutton {
    border-radius: 6px;
    background-color: lightblue;
    color: brown;
    width: 125px;
    height: 26px;
    font-size: 18px;
    box-shadow: 2px 2px 5px rgb(100, 20, 20);
}

.side-image {
    width: 700px;
    height: 500px;
    margin-left: 20px;
    box-shadow: 4px 4px 20px rgba(247, 3, 3, 0.5);
}

.content-wrapper {
    display: flex;
    align-items: flex-start;
    gap: 50px;
    justify-content: center;
    margin-top: 65px;
}